.games-conteiner {
    width: 50%;
    height: 100vh;
    margin: auto;
    position: relative;
    top: 9rem;
}

.games-conteiner > div {
    margin-bottom: 4rem;
}

@media screen and (max-width: 1220px) {
    .games-conteiner {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .games-conteiner {
        top: 72px;
        width: 100%;
    }
}