@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');

.card-conteiner {
    display: flex;
    justify-content: center;
}

.poke-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    width: 220px;
    border: 5px solid #64656b;
    border-radius: 15px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    cursor: pointer;
}

.upper-card {
    width: 100%;
    padding: 20px 0px;
    background-color: #f3eae8;
    border-radius: 10px 10px 0px 0px;
}

.img-wrapper {
    display: flex;
    margin: auto;
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.upper-card > div > img {
    display : block;
    margin: auto;
    max-height: 64px;
    max-width: 64px;
}

.mid-card {
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: #f3eae8;
}

.mid-card h3 {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lower-card {
    width: 100%;
    background-color: #f3eae8;
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.lower-card > span {
    display : flex;
    justify-content: space-around;
    line-height: 32px;
}

.lower-card h3 {
    font-family: Raleway;
    font-weight: 400;
}

.lower-card h1 {
    position: relative;
    bottom: 8px;
}

.poke-card:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .poke-card {
        width: 128px;
    }

    .upper-card > .img-wrapper {
        width: 78px;
        height: 78px;
    }
    
    .img-wrapper > img {
        max-width: 50px;
        max-height: 50px;
    }

    .mid-card {
       padding-top: 0; 
    }

    .mid-card h3 {
        font-size: 13px;
    }

    .lower-card {
        padding: 2px;
    }

    .lower-card h3 {
        font-size: 13px;
    }
}



.type-color-fire {
    color : red
}
.type-color-water {
    color : blue
}
.type-color-grass {
    color : green
}
.type-color-poison {
    color : purple
}
.type-color-flying {
    color :#5ca5e0
}
.type-color-bug {
    color: #b97d5d;
}
.type-color-electric {
    color : #99df3e
}
.type-color-normal {
    color : #cfad9a
}
.type-color-ground {
    color : #02b360
}
.type-color-fighting {
    color : #b64f18
}
.type-color-psychic {
    color : #df10cd
}
.type-color-rock {
    color : #2f9781
}
.type-color-ice {
    color : #77d3f8
}
.type-color-dragon {
    color : #e455e4
}
.type-color-dark {
    color : #303030
}
.type-color-ghost {
    color : #7833a5
}
.type-color-steel {
    color : #ae96b4
}
.type-color-fairy {
    color : #e4b6ce
}
.type-color-default {
    color : white
}