@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700;800&display=swap');

.aside-conteiner {
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 0;
    width: 50px;
    background-color: #fbe5f6;
    overflow-x: hidden;
    transition: all 0.3s;
}

.aside-conteiner:hover {
    width: 150px;
    text-align: center;
}

.aside-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.aside-list > a { 
    text-decoration: inherit;
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
    color :black;
    width: 100%;
    padding: 20px 0px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.aside-list > a:hover {
    background-color: #1f2842;
    color: #ffffff;
}

.responsive-filter-menu {
    display: none;
    z-index: 99;
}

/* Tablets and below */
@media screen and (max-width: 992px) {
    .aside-conteiner {
        transform: translate(-100%);
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .responsive-filter-menu {
        display: inline-block;
        position: fixed;
        top: 1rem;
        left: 1rem;
    }

    .aside-conteiner[data-occult="true"] {
        transform: translateX(0%);
        width: 95%;
        z-index: 9;
    }

    .aside-conteiner > h3 {
        position: relative;
        top: 26px;
        left: 56px;
    }
}