.conteiner {
    width: 60%;
    margin: 8rem auto 0 auto;
}

.grid-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1000px) {
    .conteiner {
        width: 70%;
    }

    .grid-conteiner {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .conteiner {
        width: 100%;
    }
}