@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


.card {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgb(0 0 0 / 45%);
}

.test {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #FF3434;
    margin-bottom: 8px;
}

.card-img > img {
    float: left;
    height: 280px;
    width: 280px;
}

.card-texts {
    padding: 10px 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}

.card-texts > div {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.card-texts > div > h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 36px;
}

.card-texts > div > span {
    font-size: 32px;
    color: #565163;
}

.card-texts > p {
    font-family: 'Questrial', sans-serif;
    line-height: 24px;
}